
.btn {
  padding: 5px 15px;
  margin: 0 10px;
  border: 1px solid rgb(33, 122, 218);
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  transition: .2s;
  background-color: rgb(122, 115, 240);
  color: #fff;
}

.header__title {
  margin-bottom: 15px;
}


.todo__creater {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__creater__input {
  padding: 10px 20px;
  border: 1px solid rgb(33, 122, 218);
  border-radius: 3px;
  margin: 0 10px;
}

.file-input {
  display: none;
}

.input__file-button {
  display: block;
  font-size: 14px;  
}

.todos {
  margin-top: 40px;
}

.todo {
  border: 1px solid rgb(56, 47, 188);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.todo__about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo__title {
  margin-right: 20px;
}

.todo__date {
  margin-right: 20px;
}
.todo__item__head {
  border-bottom: 1px solid rgb(32, 19, 207);
  margin-bottom: 10px;
  text-transform: capitalize;
}
.todo__files {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__file {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__file__link {
  width: 100%;
}

.todo__file__image {
  width: 100%;
}

.red-color__date {
  color: red;
}